VITE_API_URL=http://localhost:3000
VITE_SOCKET_URL=https://huddle-api-yott.onrender.com
VITE_SOCKET_PATH=/socket.io
VITE_SOCKET_JOIN_EVENT=join_channel
VITE_SOCKET_LEAVE_EVENT=leave_channel
VITE_SOCKET_SEND_EVENT=send_message
VITE_SOCKET_MESSAGE_EVENT=new_message
